.searchInput {
    color: white;
}

.searchInput::placeholder {
    color: #0081ea;
}

.dropdownTabs {
    background-color: #00467f;
    border: none;
    outline: none;
    color: white;
}

.dropdownTabs::after {
    display: none !important;
}

.dropdownTabs:hover {
    color: #00467f;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;
}

.dropdownTabs:focus {
    outline: none;
    border: none;
    color: #00467f;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;
}

.boardingTab, .boardingTab:focus {
    outline: none;
    border: none;
    color: #00467f;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;
}

.boardingTab::after {
    display: none !important;
}

@font-face {
    font-family: AmericanSans;
    src: url(../../assets/fonts/AmericanSans-Regular.otf);
}

@media screen and (min-width: 807px) {
    #fullWidthTabs {
        margin-top:10px;
        font-family:'AmericanSans';
        display: inherit;
    }
    #mobileTabs {
        display: none;
    }
    #smMobileTabs {
        display: none;
    }
}
@media screen and (max-width: 807px) {
    #fullWidthTabs {
        display: none;
    }
    #mobileTabs {
        margin-top:10px;
        display: inherit;
    }
    #mobileTabs:focus {
        border: none;
    }
    .menuTab::after {
        display:none !important;
    }
    #smMobileTabs {
        display: none;
    }
}
@media screen and (max-width: 769px) {
    #fullWidthTabs {
        display: none;
    }
    #mobileTabs {
        display: none;
    }
    #profileDiv {
        display: none;
    }
    #searchBar {
        display: none;
    }
    #smMobileTabs {
        display: inherit;
    }
}