.searchInput {
    color: white;
}

.searchInput::placeholder {
    color: #0081ea;
}

.dropdownTabs {
    background-color: #00467f;
    border: none;
    outline: none;
    color: white;
}

.dropdownTabs::after {
    display: none !important;
}

.dropdownTabs:hover {
    color: #00467f;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;
}

.dropdownTabs:focus {
    outline: none;
    border: none;
    color: #00467f;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;
}

.boardingTab, .boardingTab:focus {
    outline: none;
    border: none;
    color: #00467f;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;
}

.boardingTab::after {
    display: none !important;
}

@font-face {
    font-family: AmericanSans;
    src: url(../../assets/fonts/AmericanSans-Regular.otf);
}